.group-tree {
    ul,
    li {
        margin-top: 0;
        margin-bottom: 0;
        list-style-type: none;
    }

    .leaf {
        padding-left: 40px;
    }

    .children {
        padding-left: 40px;

        &.invisible {
            display: none;
        }
    }
}
