<div class="ga-mat-fixed-toolbar-container">
    <mat-toolbar>
        <ga-mat-sidenav-toggle></ga-mat-sidenav-toggle>
        @if (project$|async; as project) {
            <div>
                @if (jobId$|async; as jobId) {
                    <h1 class="mat-title-medium">{{ jobId }}</h1>
                }
                <h2 class="mat-body-medium">{{ project.namespace.name }} / {{ project.name }} / Jobs</h2>
            </div>
        }
    </mat-toolbar>
</div>

<div class="ga-content-container mx-half">
    <pre>{{ trace$|async }}</pre>
</div>
